* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    padding: 25px 200px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.logo {
    width: 150px;
    cursor: pointer;
}


.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: white !important;
    text-transform: uppercase;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 10px;
    color: #000000;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.user-info {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dropdown-content .sub-menu {
    padding: 10px;
}

.dropdown-content .user-info {
    display: flex;
    align-items: center;
}

.dropdown-content .user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-content .sub-menu-link {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown-content.show {
    display: block;
    opacity: 1;
    animation: dropdownAnimation 0.3s ease;
    /* Apply the animation */
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
h1 {
    color: #333;
}
input[type="file"] {
    margin: 10px 0;
}
button {
    background-color: #FFD700;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #FFD700;
}
.analysis-container {
    width: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 6% auto;
}