:root {
    --green: #27ae60;
    --black: #333;
    --white: #fff;
    --bg-color: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid var(--black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    padding: 25px 200px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: white !important;
    text-transform: uppercase;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.account {
    width: 40px;
    cursor: pointer;
    margin-left: 15px;
}

.titleheader {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.perfectfit {
    color: white;
    padding: 0 10px;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 7px;
}

.intro {
    width: 50%;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15px;
}

.btn {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 20px;
    padding: 5px;
    background: var(--green);
    color: var(--white);
    text-align: center;
}

.btn-add {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 20px;
    padding: 5px;
    background-color: green;
    color: var(--white);
    text-align: center;
}

.btn-cnl {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 20px;
    padding: 5px;
    background-color: red;
    color: var(--white);
    text-align: center;
}

.btn-option {
    width: 45%;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 20px;
    padding: 5px;
    background-color: green;
    color: var(--white);
    text-align: center;
}

.option {
    display: flex;
    justify-content: space-between;
}

.btn:hover {
    background: var(--black);
}

.message {
    display: block;
    background: var(--bg-color);
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-align: center;
}

.container {
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin-product-form-container.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.admin-product-form-container form {
    max-width: 37rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    background: var(--bg-color);
}

.admin-product-form-container form h3 {
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 20px;
    overflow-x: hidden;
}

.admin-product-form-container form .box {
    width: 100%;
    border-radius: .5rem;
    padding: 15px 20px;
    font-size: 1.7rem;
    margin: 10px 0;
    background: var(--white);
    text-transform: none;
    font-size: 20px;
    border-width: 2px;

}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1500px;
    margin: auto;

}

.product-display {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 5% auto;
}

.product-display .card {
    width: 215px;
    text-align: center;
    height: 440px;
    border: 1px solid lightgray;
    background: #fff;
}

@media (max-width: 1200px) {
    .product-display {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns for medium screens */
    }
}

@media (max-width: 900px) {
    .product-display {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns for small screens */
    }
}

@media (max-width: 600px) {
    .product-display {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for extra small screens */
    }
}

@media (max-width: 400px) {
    .product-display {
        grid-template-columns: 1fr;
        /* 1 column for very small screens */
    }
}

.product-display .card .image {
    height: 50%;
}

.product-display .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-display .card .caption {
    font-size: 1.5rem;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: left;
}

.product-display .card .caption .rate i {
    color: gold;
    margin-left: 2px;
}

.product-display .card button {
    border: 1px solid black;
    color: white;
    padding: 10px;
    font-size: .9em;
    width: 80%;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.edit {
    background-color: #4CAF50;
}

.delete {
    background-color: red;
    margin-top: 8px;
}

.category {
    font-size: 15px;
}

.product-display .card button:before {
    left: 0;
}

.product-display .card button:after {
    right: 0;
}

.product-display .card button:hover:before,
.product-display .card button:hover:after {
    width: 50%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 100px;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content.show {
    display: block;
    opacity: 1;
}

main {
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
}

/* Style for the Add New Product button */
.btn-add-product {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 20px;
    /* Float the button to the right */
    /* Add margin to the right */
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.box1 {
    width: 100%;
    border-radius: .5rem;
    padding: 15px 20px;
    font-size: 1.7rem;
    margin: 10px 0;
    background: var(--white);
    text-transform: none;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    color: gray;
}

.box2 {
    border-radius: .5rem;
    padding: 10px 5px;
    font-size: 1rem;
    margin: 10px 0;
    background: var(--white);
    text-transform: none;
    color: gray;
}

.checkbox-group {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    margin-left: 10px;
}

.tones {
    padding-right: 10px;
}

h4 {
    padding-top: 5px;
    margin-left: 10px;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
    display: flex;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.delete1 {
    width: 40%;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    background-color: red;
    color: var(--white);
}

.delete2 {
    width: 40%;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    background-color: gray;
    color: var(--white);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 5px;
    margin-left: 10px;
}

@media (max-width: 1500px) {
    .product-display {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns for medium screens */
    }
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column {
        padding: 0px;
    }
    .right-column {
        padding: 0px;
    }
    .filter-formbox {
        width: 100%;
        max-width: none;
        padding: 10px;
    }
    .search-barA {
        width: 100%;
        padding: 10px;
    }
    #search-input {
        width: 900px;
    }
    .sort-container {
        flex-direction: column;
        align-items: center;
    }
    .sort-container button, .sort-container select {
        width: 100%;
        margin: 5px 0;
        text-align: left;
    }
    .analysis {
        background-color: #FFD700;
        color: black;
        width: 500px;
    }
    .banner {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    
    /* Add to root/body to prevent any horizontal scrolling */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }
}

@media (max-width: 1400px) {
    .product-display {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns for medium screens */
    }
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column {
        padding: 0px;
    }
    .right-column {
        padding: 0px;
    }
    .filter-formbox {
        width: 100%;
        max-width: none;
        padding: 10px;
    }
    .search-barA {
        width: 100%;
        padding: 10px;
    }
    #search-input {
        width: 900px;
    }
    .sort-container {
        flex-direction: column;
        align-items: center;
    }
    .sort-container button, .sort-container select {
        width: 100%;
        margin: 5px 0;
        text-align: left;
    }

    .banner {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    
    /* Add to root/body to prevent any horizontal scrolling */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }
}

@media (max-width: 1300px) {
    .product-display {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns for medium screens */
    }
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column {
        padding: 0px;
    }
    .right-column {
        padding: 0px;
    }
    .filter-formbox {
        width: 100%;
        max-width: none;
        padding: 10px;
    }
    .search-barA {
        width: 100%;
        padding: 10px;
    }
    #search-input {
        width: 900px;
    }
    .sort-container {
        flex-direction: column;
        align-items: center;
    }
    .sort-container button, .sort-container select {
        width: 100%;
        margin: 5px 0;
        text-align: left;
    }

    .banner {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    
    /* Add to root/body to prevent any horizontal scrolling */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }
}

@media (max-width: 1200px) {
    .product-display {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns for medium screens */
    }
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column {
        padding: 0px;
    }
    .right-column {
        padding: 0px;
    }
    .filter-formbox {
        width: 100%;
        max-width: none;
        padding: 10px;
    }
    .search-barA {
        width: 100%;
        padding: 10px;
    }
    #search-input {
        width: 900px;
    }
    .sort-container {
        flex-direction: column;
        align-items: center;
    }
    .sort-container button, .sort-container select {
        width: 100%;
        margin: 5px 0;
        text-align: left;
    }

    .banner {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    
    /* Add to root/body to prevent any horizontal scrolling */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }
}

@media (max-width: 900px) {
    .product-display {
        grid-template-columns: repeat(2, 1fr);
        /* 3 columns for small screens */
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navbar ul {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin: 10px 0;
    }
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column {
        padding: 0px;
    }
    .right-column {
        padding: 0px;
    }
    .filter-formbox {
        width: 100%;
        max-width: none;
        padding: 10px;
    }
    .search-barA {
        width: 100%;
        padding: 10px;
    }
    #search-input {
        width: 500px;
    }
    .sort-container {
        flex-direction: column;
        align-items: center;
    }
    .sort-container button, .sort-container select {
        width: 100%;
        margin: 5px 0;
        text-align: left;
    }

    .banner {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    
    /* Add to root/body to prevent any horizontal scrolling */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }
}

@media (max-width: 600px) {
    .product-display {
        grid-template-columns: repeat(1, 1fr);
        /* 2 columns for extra small screens */
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navbar ul {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin: 10px 0;
    }
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column {
        padding: 0px;
    }
    .right-column {
        padding: 0px;
    }
    .filter-formbox {
        width: 100%;
        max-width: none;
        padding: 10px;
    }
    .search-barA {
        width: 100%;
        padding: 10px;
    }
    #search-input {
        width: 100%;
    }
    .sort-container {
        flex-direction: column;
        align-items: center;
    }
    .sort-container button, .sort-container select {
        width: 100%;
        margin: 5px 0;
        text-align: left;
    }

    .banner {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    
    /* Add to root/body to prevent any horizontal scrolling */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }
}

@media (max-width: 400px) {
    .product-display {
        grid-template-columns: 1fr;
        /* 1 column for very small screens */
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navbar ul {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin: 10px 0;
    }
    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column {
        padding: 0px;
    }
    .right-column {
        padding: 0px;
    }
    .filter-formbox {
        width: 100%;
        max-width: none;
        padding: 10px;
    }
    .search-barA {
        width: 100%;
        padding: 10px;
    }
    #search-input {
        width: 100%;
    }
    .sort-container {
        flex-direction: column;
        align-items: center;
    }
    .sort-container button, .sort-container select {
        width: 100%;
        margin: 5px 0;
        text-align: left;
    }

    .banner {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
    
    /* Add to root/body to prevent any horizontal scrolling */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }
}